@page
@model _2._Sem_Project_Eksamen_System.Pages.NewFolder.IndexModel
@using _2._Sem_Project_Eksamen_System.ViewModels
@{
    ViewData["Title"] = "Classes";
}

<partial name="~/Pages/Shared/_PageHeader.cshtml"
         model='new PageHeaderModel("Class Overview", "View, edit and manage all classes")' />

@await Html.PartialAsync("_CreateButton", new CreateButtonModel
{
    Page = "Create",
    Text = "Create New Class"
})
<!-- Filter -->
<form method="get" class="mb-3">
    <div class="input-group" style="max-width:420px;">
        <input class="form-control" type="text" name="Filter.FilterByName" value="@Model.Filter?.FilterByName" placeholder="Search by name..." />
        <button class="btn btn-outline-secondary" type="submit">Search</button>
        <a asp-page="/Classes/Index" class="btn ms-3 btn-outline-secondary btn-sm">Full List</a>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>Class Name</th>
            <th>No. Students</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var hold in Model.HoldList)
    {
        <tr>
            <td><a asp-page="StudentsToClasses" class="btn btn-icon" asp-route-id="@hold.ClassId"><i class="bi bi-list"></i></a></td>
            <td>@hold.ClassName</td>
            <td>@hold.StudentsToClasses.Count</td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@hold.ClassId" class="btn-toggle btn-edit">Edit</a>
                    <partial name="~/Pages/Shared/_DeleteButton.cshtml" model="@(("./Delete", hold.ClassId))" />
                </td>
        </tr>
    }
    </tbody>
</table>
