@page
@model _2._Sem_Project_Eksamen_System.Pages.Eksamner.GetEksamnerModel
@{
    ViewData["Title"] = "GetEksamner";
}

<h1>GetEksamner</h1>

<a asp-page="Create_Exam" class="btn btn-primary mb-3"> <i class="bi bi-plus"></i> Create New Exam</a>

<!-- Filter -->
<form>
    <p>
        Search: <input type="text" asp-for="Filter.FilterByName" />
        
        <input type="submit" value="Filter" />
        <a asp-page="/Eksamner/GetEksamner">Back to Full List </a>
    </p>
</form>

<!-- Tabel over Eksamner -->
<table class="table">
    <thead>
        <tr>
            <th> </th>
            <th> Dato</th>
            <th> Title</th>
            <th> Hold ID</th>
            <@* th> Eksaminator</th>
            <th> Censor</th> *@
            <th> Antal Stud</th>
            <th> Re-Eksamen-Dato</th>
        </tr>
    </thead>
    <tbody>
       @false
        @foreach (var eksamen in Model.Eksamner)
        {
            <tr>
                <td><a asp-page="Exam_Details" asp-route-id="@eksamen.ExamId" class="btn btn-icon"><i class="bi bi-list"></i></a></td>
                <td>@(eksamen.ExamStartDate?.ToString("dd-MM-yyyy") ?? "")</td>
                <td>@eksamen.ExamName</td>
                <!-- FInder navnet på Class, hvis null -> "ikke tildelt"-->
                <td>@(eksamen.Class?.ClassName ?? "Ikke tildelt")</td>
              
                <td>@(eksamen.StudentsToExams.Count)</td>
                <td>@(eksamen.ReExam?.ExamStartDate.ToString() ?? "Ikke givet")</td>
                <td>
                <a asp-page="Edit_Exam" asp-route-id="@eksamen.ExamId">Edit</a> |
                </td>
                <td>
                    <a asp-page="Delete_Exam" asp-route-id="@eksamen.ExamId">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
