@page
@model _2._Sem_Project_Eksamen_System.Pages.Eksamner.GetEksamnerModel
@{
    ViewData["Title"] = "GetEksamner";
}

<h1>GetEksamner</h1>
<!-- Filter -->
<form>
    <p>
        Search: <input type="text" asp-for="Filter.FilterByName" />
        
        <input type="submit" value="Filter" />
        <a asp-page="/Eksamner/GetEksamner">Back to Full List </a>
    </p>
</form>


<!-- Tabel over Eksamner -->
<table class="table">
    <thead>
        <tr>
            <th> Eksamens ID</th>
            <th> Title</th>
            <th> Hold ID</th>
            <th> Eksaminator</th>
            <th> Censor</th>
            <th> Dato</th>
        </tr>
    </thead>
    <tbody>
       @false
        @foreach (var eksamen in Model.Eksamner)
        {
            <tr>
                <td>@eksamen.ExamId</td>
                <td>@eksamen.ExamName</td>
                <!-- FInder navnet på Class, hvis null -> "ikke tildelt"-->
                <td>@(eksamen.Class?.ClassName ?? "Ikke tildelt")</td>
                <td>
                    @(eksamen.ExaminationTeachers?
                                    .FirstOrDefault(et => et.Rolle != null &&
                                    (et.Rolle.Equals("Eksaminator", System.StringComparison.OrdinalIgnoreCase) ||
                                    et.Rolle.Equals("Examinator", System.StringComparison.OrdinalIgnoreCase) ||
                                    et.Rolle.Equals("Examiner", System.StringComparison.OrdinalIgnoreCase)))
                                    ?.Teacher?.TeacherName ?? "Ikke tildelt")
                </td>
            <td>
                    @(eksamen.ExaminationTeachers?
                                    .FirstOrDefault(et => et.Rolle != null &&
                                    (et.Rolle.Equals("Censor", System.StringComparison.OrdinalIgnoreCase)))
                                    ?.Teacher?.TeacherName ?? "Ikke tildelt")
            </td>
            <td>@(eksamen.ExamStartDate?.ToString("yyyy-MM-dd") ?? "")</td>
        </tr>
            
        }
    </tbody>
</table>
